$sand-border-color : #000;
$sand-green-color: #03d4ad;
.app-sandbox{
	.sand-section{
		padding : 15px;
		float:left;
		width:50%;
		height: 510px;
		margin-bottom: 50px;
    	border-bottom: 1px solid $sand-border-color ;
    	&:nth-child(1){
			border-right: 1px solid $sand-border-color ;
		}
		.products-page {
		    min-height: 400px;
		}
		#sand-ground{
			position:relative;
		}
		.sand-wrap{
			width:100%;
			height: 100%;
			position:relative;
		}
		.box {
		    width: 100%;
		    height: 100%;
		    position: relative;
		    z-index: 1;
		    .box-header {
		        position: absolute;
		        height: 30px;
		        width: 100%;
		        z-index:1;
		    }
		    .box-ground {
		        width: 100%;
		        height: 100%;
		        padding-top: 30px;
		        .wrap{
        			width:100%;
        			height: 100%;
        		}
		    }
		    .box-message{
		    	position: absolute;
		    	width: 100%;
		    	height: 100%;
		    	top: 0px;
		    	padding-top: 20px;
		    	font-size: 19px;
		    	padding: 135px 90px;
		    	font-family: 'Raleway', serif;
		    	.message {
		    	    display: block;
		    	}
		    	.icon {
		    	    width: 140px;
		    	    display: block;
		    	    margin: 0 auto;
		    	    img {
			    	    width: 100%;
			    	}
		    	}

		    }
		}
		.crop {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    background-color: rgba(3, 212, 173, 0.54);
		    display:none;
		    &.active{
		    	display:block;
		    	z-index: 2;
		    }
		    .crop-header {
		        position: absolute;
		        width: 100%;
		        height: 30px;
		        background-color: white;
		        z-index:1;
		    }
		    .crop-image {
		        width: 100%;
		        height: 100%;
		        padding-top: 30px;
		        position: relative;
		    }
		}

		

		.canvas-layer{
			position:absolute;
			pointer-events:none;
			margin-top:30px;
			.wrap{
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
	}
	.sand-image{
		float:left;
		width:20%;
		height:100px;
		padding: 0px 0px 5px 5px;
		cursor:pointer;

		&:nth-child(5n+1){
			padding-left: 0px;
		}
		.wrap{
			overflow:hidden;
			text-align: center;
			border-radius:6px;
			background-color:lighten(gray,40%);
			width:100%;
			height: 100%;
		}
		img{
			height: 100%;
		}
	}
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.draggable{
    width:200px;
    cursor: hand; 
    cursor: pointer; 
    position: absolute;
    &.active{
    	.ui-resizable-handle {
    		visibility:visible!important;
    	}
    }
    img{
    	width: 100%;   
	}      
}

.ui-resizable-handle 
{
    background: $sand-green-color;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    z-index: 0 !important;
    visibility:hidden!important;
}
.ui-resizable-se
{
    right: -5px;
    bottom: -5px;
}

.ui-rotatable-handle 
{
    background: $sand-green-color;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    
    height:        10px;
    left:          50%;
    margin:        0 0 0 -5px;
    position:      absolute;
    top:           -5px;
    width:         10px;
}
.ui-rotatable-handle.ui-draggable-dragging
{
    visibility:  hidden;
}

.sp-clear-enabled .sp-clear {
    display: block !important;
    position: relative !important;
    float: left !important;
    top: 12px !important;
    margin-right: 10px !important;
    right: 0px !important;
    bottom: 0 !important;
    left: 0px !important;
    height: 17px !important;
    width: 17px !important;
    background-size: cover !important;
}
