<div class="container" pluginsfor="p5" styles="background-color:white;">
	<div class="row">
		<div class="col-md-12">
			<div class="create-dilema__heading">
				<h1 class="text-center">¿CUANDO ESTAS DISPUESTA A GASTAR?</h1>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="create-dilema__for-when">
				<a class="btn {{item.active}}" title="" ng-repeat="item in presupuesto" ng-click="setPresupuesto(item)">
					<span>{{item.text}}</span>
				</a>
			</div>

		</div>
	</div>
	
</div>