<div class="container" pluginsfor="p1">
	<div class="row">
		<div class="col-md-12">
			<div class="create-dilema__heading">
				<h1 class="text-center">¿Para que ocasión necesitas un OUTFIE?</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="create-dilema__carousel">

				<div id="ocation-carousel" class="owl-carousel">
					<div class="item" ng-repeat="item in galeria">
						<a href="" title="" ng-click="setOcasion(item)" class="{{item.active}}">
							<div class="inner">
								<img src="{{item.src}}" alt="">
								<span>{{item.text}}</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>

